.body {
  background-color: black;
}

.photo-six {
  width: 100%;
}

.dropdown-toggle::after {
  display: none;
}

#my-login-father {
  left: -130px;
}

.nav-link:hover {
  color: rgb(178, 197, 88);
}


.bi-1-circle-fill,
.bi-2-circle-fill,
.bi-3-circle-fill,
.bi-4-circle-fill {
  color: rgb(88, 143, 111);
}

.navbar-toggler {
  background-color: rgb(223, 225, 223);
}

.receipt {
  font-size: 20px;
  color:  rgb(0, 0, 0);

}
.card-title{
  font-size: 14px;
  color:  rgb(81, 79, 79);
}

.card-text {
  font-size: 11px;
  color: rgb(81, 79, 79);

}
.showprice{
  font-size: 10px;
  color:  rgb(75, 74, 74);
  white-space: nowrap; /* 防止價格換行 */
}
.btn-group .btn, .quantity {
  height: 38px; /* 調整為合適的高度 */
}
/* 在小屏幕設備上進行調整 */
@media (max-width: 576px) {
  .btn-group {
    flex-direction: column; /* 按鈕在手機上堆疊顯示 */
    align-items: center; /* 按鈕在手機上置中顯示 */
  }
  .quantity {
    width: 100px; /* 根據需求設置適當的寬度 */
  }
}
.number-circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgb(23, 24, 23);
  color: antiquewhite;
}

.number-circle-1 {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: rgb(153, 152, 152);
  color: antiquewhite;
  font-size: 20px;
  text-align: center;
}

.progress {
  width: calc(100% - 100px);
  top: 20%;
  left: 99%;
  position: absolute;
  transform: translate(-50%, -50%);
}

